* {
    margin: 0;
    padding: 0;
}

body { overflow: hidden; }

a {
    color: white;
}

#overlay {
    display:none;
    width: 100%;
    height: 2000px;
    position: absolute;
    z-index: 9999;
}
    #overlay .panel {
        height: 100%;
        background-color: rgba(0,0,0,0.6);
        float: left;
        width: 35%;
    }
    #overlay .content {
        padding: 150px 5%;
        text-align: center;
        height: 100%;
        float: left;
        width: 20%;
        background-color: rgba(0,0,0,0.9);
        color: #CCC;
        font-size: 16px;
        font-family: "Helvetic Neue", Helvetica, Arial, sans-serif;
    }
        #overlay .content h1 {
            color: #880044;
        }

        #overlay .content .cta {
            display: block;
            text-align: center;
            margin-top: 50px;
        }
            #overlay .content .cta button {
                padding: 15px 10px;
                font-size: 18px;
                text-shadow: 1px 1px 3px #000;
                background-color: #440088;
                background: rgb(68,0,136);
                background: -moz-linear-gradient(top,  rgba(68,0,136,1) 0%, rgba(136,0,68,1) 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(68,0,136,1)), color-stop(100%,rgba(136,0,68,1)));
                background: -webkit-linear-gradient(top,  rgba(68,0,136,1) 0%,rgba(136,0,68,1) 100%);
                background: -o-linear-gradient(top,  rgba(68,0,136,1) 0%,rgba(136,0,68,1) 100%);
                background: -ms-linear-gradient(top,  rgba(68,0,136,1) 0%,rgba(136,0,68,1) 100%);
                background: linear-gradient(to bottom,  rgba(68,0,136,1) 0%,rgba(136,0,68,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#440088', endColorstr='#880044',GradientType=0 );
                border: 1px solid #000;
                border-radius: 10px;
                color: white;
                text-transform: uppercase;
                font-family: Times New Roman, serif;
                letter-spacing: 2px;
            }

#canvas {
    display: block;
    background: #000;
}

#github a {
    display:block;
    margin: 50px auto 0;
    background-color: rgba(255,255,255,0.4);
    border-radius: 3px;
    height: 31px;
    width: 32px;
    border: 1px solid black;
}

#menu {
    font-size: 12px;
    line-height: 1.5;
    display:none;
    border-radius: 5px;
    padding: 0 10px;
    width: 300px;
    color: white;
    position: absolute;
    left: 1px;
    top: 1px;
    background-color: rgba(255, 55, 255, 0.2);
    max-height: 94%;
    overflow-y: auto;
}

.left { float: left; }
.clear { clear: both; }
.right { float: right; }

.form-field { margin-bottom: 10px; clear: both; }

.form-field label {
    float: left;
    width: 160px;
    padding-right: 10px;
    text-align: right;
}

.form-field .slider, .form-field select {
    float: right;
    width: 100px;
    margin-right: 10px;
}

.collapser {
    cursor: pointer;
    padding: 5px 0;
}